entrypoint: "." # path of extracted facebook data
people:
  - signal_number: "+48123123123"
    facebook_id: "John Doe"
  - signal_number: "+48789789789"
    facebook_id: "Adam Smith"

conversations:
  - facebook_id: "asd_1675948962619089"
    is_group: true
    signal_id: "foobar"
    resume_from_timestamp: 0

restart_dbus_every: 1000